<div class="navbar">

  <ul>
    <li>
      <a class="active" [routerLink]="['/home']"><i class="fa fa-fw fa-home"></i> Home</a>
    </li>

    <li>
      <a class="active" [routerLink]="['/']"><i class="fa fa-fw fa-envelope"></i> Contact</a>
    </li>
    <li>
      <a class="active" [routerLink]="['/login']"><i class="fa fa-fw fa-user"></i> Login</a>
    </li>
    <li>
      <a class="active" [routerLink]="['/register']"><i class="fa fa-user-alt"></i> Registration</a>
    </li>
  </ul>
  <ul class="text-right">
    <li>
      <input type="text" class="searchbox">
    </li>
    <li>
      <a href="#"><i class="fa fa-fw fa-search"></i> Search</a>
    </li>
  </ul>

</div>
